# Ignore IntelliJ IDEA project files
*.iml
.idea/
*.ipr
*.iws

# Ignore all files inside the "generated" folder
docker/service-config/mysql/generated/*

# Ignore all files inside the "build" folder
docker/service-config/app/build/*


# System files
.DS_Store
Thumbs.db
